@import "styles/variables.module";

.create-supply-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: 70vh;
    overflow-y: scroll;

    .form {
      justify-content: center;
      width: 95%;
    
      .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin-bottom: 8px;
    
        .user-input {
          display: flex;
          width: 75%;
        }
      }
    }

    .form-barang {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .barang-table-container {
        width: 100%;
        display: flex;
      }
    }
  }
  
  .title-container {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    .back-btn {
      display: flex;
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  .submit-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  
    .save-btn {
      margin: 35px;
  
      &:disabled {
        background-color: #EDECEC !important;
      }
    }
  }
}