@import "styles/variables.module";

.sidebar {
  height: 100vh;
  width: 20%;
  border-radius: 0px 10px 10px 0px;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 0px 20px;

  position: fixed;
  z-index: 100;

  .project-detail {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-top: 20px;

    img {
      margin-right: 20px;
    }
  }

  .menu {
    text-align: center;
    height: 80vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .copyright {
      font-size: 10px;
    }

    h4 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .generator, .exporter {

      img {
        margin-top: 20px;
      }
      .menu-container {
        border-radius: 10px;
        padding: 5px;
        &:hover {
          cursor: pointer;
          background-color: $secondary-color;
          opacity: 0.7;
          h4 {
            color: $primary-color;
          }
        }
      }

      .active, .active:hover {
        background-color: $secondary-color !important;
        opacity: 1 !important;
        h4 {
          color: $primary-color;
        }
      }
    }

  }

}
.menu-content {
  height: 100vh;
  width: 100%;
  margin-left: 23%;

}