@import "styles/variables.module";

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


  padding: 36px 20px;

}

.table-container {
  border-radius: 7px;
  border: 3px solid $primary-color;
  height: 275px; 
}

.new-table-container {
  height: 50%;
  border-radius: 7px;
  border: 3px dashed $primary-color;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 120px;
  padding: 10px; 

  &:hover {
    cursor: pointer;
    border: 3px dashed #1c1f7b;
    p {
      color: #1c1f7b !important;
    }
  }

}

.table-header {
  padding: 5px 0px;
  background-color: $primary-color;

  display: flex !important;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  
  &:hover {
    cursor: pointer;
  }

  p {
    color: $secondary-color;
  }
}

.closed {
  border-radius: 7px;
  border: 3px solid $primary-color;

  width: 100%;
}

.column-container {
  height: 85%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: $secondary-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 10px;
  }
}

.column-item {
  text-align: left;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.new-column-container {
  margin: 12px;
  border: 3px dashed $primary-color;
  border-radius: 7px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 10px;
  }

  &:hover {
    cursor: pointer;
    border: 3px dashed #1c1f7b;
    p {
      color: #1c1f7b !important;
    }
  }
}

.input {
  margin-left: 8px;
  width: 175px;
  padding: 0;
}
.input-label {
  margin-right: 8px;
  width: 125px;
}